<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
function onClick(Product: any) {
  x.value.push(Product);
  sum.value += Product.price;
}

const x = ref<any[]>([]);
const sum = ref(0);
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6" class="d-flex flex-wrap h-screen overflow-y-auto">
        <v-row>
          <v-col cols="4" v-for="i in products" :key="i.id">
            <v-card>
              <v-card-item>
                <div>
                  <div class="text-center text-h6">
                    {{ i.name }}
                  </div>
                  <div class="text-center">{{ i.price }}</div>
                  <div class="text-center">
                    <v-btn @click="onClick(i)">ADD</v-btn>
                  </div>
                </div></v-card-item
              >
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col>
        <v-table height="534px">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="x.length === 0">
              <td colspan="3"><p class="text-center">NO Data</p></td>
            </tr>
            <tr v-for="item in x" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
          </tbody>
        </v-table>

        <h1>Sum: {{ sum }}</h1>
      </v-col>
    </v-row>
  </v-container>
</template>
