<script setup lang="ts">
import { ref } from "vue";
const Input = ref(0);
</script>

<template>
  <v-form>
    <v-container>
      <v-text-field
        label="Please input number"
        v-model.number="Input"
        :rules="[(v) => !!v || 'Number is not empty!!']"
        required
      ></v-text-field>
      <v-row dense>
        <v-col v-for="i in Input" :key="i" cols="1"> {{ i }} </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>
