<script lang="ts" setup>
import { ref } from "vue";

const emoji = ref("Smile");
const ClickChange = (name: string) => {
  emoji.value = name;
};
</script>

<template>
  <v-container
    ><v-row
      ><v-col
        ><v-img
          :src="'/feeling_imgs/' + emoji + '.png'"
          width="400px"
        ></v-img> </v-col
      ><v-col>
        <div class="text-center text-h3">{{ emoji }}</div>
        <v-btn
          block
          class="mt-5"
          :class="{ yellow: emoji === 'Angry' }"
          @click="ClickChange('Angry')"
          >ANGRY</v-btn
        >
        <v-btn
          block
          class="mt-5"
          :class="{ yellow: emoji === 'Cute' }"
          @click="ClickChange('Cute')"
          >CUTE</v-btn
        >
        <v-btn
          block
          class="mt-5"
          :class="{ yellow: emoji === 'Pain' }"
          @click="ClickChange('Pain')"
          >PAIN</v-btn
        >
        <v-btn
          block
          class="mt-5"
          :class="{ yellow: emoji === 'Shocked' }"
          @click="ClickChange('Shocked')"
          >SHOCKED</v-btn
        >
        <v-btn
          block
          class="mt-5"
          :class="{ yellow: emoji === 'Smile' }"
          @click="ClickChange('Smile')"
          >SMILE</v-btn
        ></v-col
      ></v-row
    >
  </v-container>
</template>

<style scoped>
.yellow {
  background-color: yellow;
}
</style>
