<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counter = useCounterStore();
</script>

<template>
  <div class="font-weight-medium">First Component</div>
  <div class="font-weight-medium">{{ counter.count }}</div>
  <br />
  <v-btn @click="counter.increment">INCREMENT</v-btn>
</template>
