<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counter = useCounterStore();
</script>
<template>
  <div class="font-weight-medium">Second Component</div>
  <div class="font-weight-medium">{{ counter.doubleCount }}</div>
  <br />
  <v-btn @click="counter.decrease">DECREASE</v-btn>
</template>
